<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>

    <body>
        <nav class='navbar navbar-default navbar-static-top'>
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'index' %}"></a></li>
                    <li><a class="navbar-link" href="{% url 'admin:index' %}"></a></li>
                    <li><a class="navbar-link" href="{% url 'basic_app:register' %}"></a></li>

                    {% if user.is_authenticated %}
                        <li><a class="navbar-link" href="{% url 'logout' %}"></a></li>
                    {% else %}
                        <li><a class="navbar-link" href="{% url 'basic_app:user_login' %}"></a></li>

                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block body_block %}
            {% endblock %}
        </div>
    </body>

</html> 